# k2p luci tailscale zerotier iperf3
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libstdcpp=y
config_package_libiperf3=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_tailscale=y
CONFIG_PACKAGE_tailscaled=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_zerotier=y

config_libsodium_minimal=y
config_openssl_engine=y
config_openssl_prefer_chacha_over_gcm=y
config_openssl_with_asm=y
config_openssl_with_chacha_poly1305=y
config_openssl_with_cms=y
config_openssl_with_deprecated=y
config_openssl_with_error_messages=y
config_openssl_with_idea=y
config_openssl_with_mdc2=y
config_openssl_with_psk=y
config_openssl_with_seed=y
config_openssl_with_srp=y
config_openssl_with_tls13=y
config_openssl_with_whirlpool=y
config_package_chinadns-ng=y
config_package_coreutils-base64=y
config_package_coreutils=y
config_package_dns2socks=y
config_package_dns2tcp=y
config_package_dnsmasq-full=y
config_package_dnsmasq_full_auth=y
config_package_dnsmasq_full_conntrack=y
config_package_dnsmasq_full_dhcp=y
config_package_dnsmasq_full_dhcpv6=y
config_package_dnsmasq_full_dnssec=y
config_package_dnsmasq_full_ipset=y
config_package_dnsmasq_full_nftset=y
config_package_dnsmasq_full_noid=y
config_package_dnsmasq_full_tftp=y
config_package_ip-full=y
config_package_ipset=y
config_package_iptables-mod-tproxy=y
config_package_iptables-nft=y
config_package_kmod-ipt-core=y
config_package_kmod-ipt-ipset=y
config_package_kmod-ipt-nat=y
config_package_kmod-ipt-tproxy=y
config_package_kmod-nf-conntrack-netlink=y
config_package_kmod-nf-ipt=y
config_package_kmod-nf-tproxy=y
config_package_kmod-nft-compat=y
config_package_libatomic=y
config_package_libbpf=y
config_package_libelf=y
config_package_libev=y
config_package_libgmp=y
config_package_libipset=y
config_package_libiptext-nft=y
config_package_libiptext6=y
config_package_libiptext=y
config_package_liblucihttp-ucode=y
config_package_libnetfilter-conntrack=y
config_package_libnettle=y
config_package_libnfnetlink=y
config_package_libopenssl-conf=y
config_package_libopenssl-legacy=y
config_package_libopenssl=y
config_package_libpcre2=y
config_package_libpcre=y
config_package_libsodium=y
config_package_libuci-lua=y
config_package_libudns=y
config_package_libxtables=y
config_package_lua-neturl=y
config_package_luci-app-ssr-plus=y
config_package_luci-lib-ipkg=y
config_package_luci-light=y
config_package_luci-lua-runtime=y
config_package_microsocks=y
config_package_resolveip=y
config_package_rpcd-mod-ucode=y
config_package_shadowsocks-libev-config=y
config_package_shadowsocks-libev-ss-local=y
config_package_shadowsocks-libev-ss-redir=y
config_package_shadowsocksr-libev-ssr-check=y
config_package_shadowsocksr-libev-ssr-local=y
config_package_shadowsocksr-libev-ssr-redir=y
config_package_simple-obfs-client=y
config_package_tcping=y
config_package_ucode-mod-html=y
config_package_ucode-mod-lua=y
config_package_ucode-mod-math=y
config_package_xtables-nft=y
config_package_zlib=y
