CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

# Applications
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-alist=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_luci-app-v2ray-server=n
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-ssr-plus=y

CONFIG_PACKAGE_luci-app-mtwifi=y

# Software
CONFIG_PACKAGE_wireless-tools=n
CONFIG_PACKAGE_iperf3=y
